body {
    font-family: Arial, sans-serif;
    background-image: url("https://c1.wallpaperflare.com/preview/405/920/953/clouds-minimal-minimalistic-sky.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
    margin: 0;
}


.container {
    background: linear-gradient(135deg, lightblue, white, beige);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h1 {
    background: linear-gradient(135deg, skyblue, white, beige);

}

.search-box {
    margin-bottom: 20px;
}

#location-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
}

.weather-info div {
    margin: 5px 0;
}
